.result-row {
    margin-top: 5px;
    margin-bottom: 20px;
}

.result-url {
    color: #202124;
}

.result-title a {
    text-decoration: none;
    color: #1a0dab;
    font-size: 21px;
}

.result-text {
    color: #5f6368;
}