.centred-browser-from-wrapper {
    padding-bottom: 10vh;
}

.large-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5em;
}

.small-logo {
    display: flex;
    justify-content: center;
}

.large-logo img {
    width: 400px;
}

.small-logo img {
    width: 100px;
}

.logo-img {
    cursor: pointer;
}

.search-bar {
    margin-top: 10px;
}

.btn-outline-primary {
    -webkit-box-shadow: 2px 2px 4px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 2px 4px -3px rgba(66, 68, 90, 1);
    box-shadow: 2px 2px 4px -3px rgba(66, 68, 90, 1);
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
    -webkit-box-shadow: 2px 2px 4px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 2px 4px -3px rgba(66, 68, 90, 1);
    box-shadow: 2px 2px 4px -3px rgba(66, 68, 90, 1);
}